**/certs/**
!**/certs/.gitignore
**/.idea/**
**/logs/**
!**/logs/.gitignore
**/node_modules/**
**/vendor/**

.DS_Store
.phpunit.result.cache
storage/*.key
*.log
.env
env.json
secrets.json
_ide_helper.php
todo.txt
Homestead.json
Homestead.yaml

#
